@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

body{
    max-width: 390px;
    display: block;
    background-color: #E5E5E5;
    
}

.topo{
    width: 100%;
    height: 92px;
    background: #CF2B2B;
    top: 0;
    justify-content: center;
    position: fixed;
    -webkit-box-shadow: 0px 6px 9px -4px rgba(0,0,0,0.38); 
    box-shadow: 0px 6px 9px -4px rgba(0,0,0,0.38);
}

.container{
    margin-top: 100px;
}

.titulo{
    font-size: 44px;
    color: #FFFFFF;
    font-family: "Justo";
    padding-top: 14px;
    padding-left: 18px;
    font-family: 'Righteous', cursive;;
}

.subtitulo{
    font-size: 18px;
    color: #FFFFFF;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding-top: 4px;
    padding-left: 18px;
}

.titulo2{
    font-size: 22px;
    margin-top: 20px;
    margin-left: 20px;
    font-family: 'Righteous', cursive;
}

.pratos{
    width: 100%;
    height: 255px;
    
}

.cardapio{
    width: 100%;
    height: 250px;
    display: flex;
    overflow: hidden;
    overflow-x: auto;
}

.cardapio::-webkit-scrollbar{
    display: none;
}

.cardapio .salmão{
    border-radius: 15px;
}

.cardapio .suco{
    border-radius: 10px;
}

.comida{
    background-color: #FFFFFF;
    width: 172px;
    height: 216px;
    top: 190px;
    left: 19px;
    border-radius: 9px;
    margin-top: 20px;
    margin-left: 20px;
    -webkit-box-shadow: 0px 6px 9px -4px rgba(0,0,0,0.38); 
    box-shadow: 0px 6px 9px -4px rgba(0,0,0,0.38);
 
}

.borda{
    border: 4px solid #32B72F;
    visibility: visible;
}

.info{
    margin-top: 14px;
    display: flex;
    flex-direction: column;
    margin-left: 16px;
}





.comida img{
    width: 144px;
    height: 87px;
    top: 183px;
    display: flex;
    justify-content: center;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 18px;
    margin: auto;
    border-radius: 10px;
}

.imagem{
    border-radius: 20px;
    margin: 15px 15px;
    object-fit: cover;
}

.comida h1{
    font-size: 16px;
    color: black;
    font-weight: 700;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.comida h2{
    font-size: 15px;
    color: #A6A6A6;
    margin-top: 10px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

.comida p{
    font-size: 16px;
    color: #000000;
    font-weight: 450;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding-top: 10px;
}

.cardapio2{
    width: 100%;
    height: 250px;
    display: flex;
    overflow: hidden;
    overflow-x: auto;
    padding-bottom: 100px;
}

.cardapio2::-webkit-scrollbar{
    display: none;
}



.titulo3{
    font-size: 22px;
    margin-bottom: 5px;
    margin-left: 20px;
    font-family: 'Righteous', cursive;
}

.botão{
    width: 100%;
    height: 92px;
    background: #FFFFFF    ;
    justify-content: center;
    position: fixed;
    bottom: 0;
    z-index: 1;
}

.botão2{
    width: 360px;
    height: 53px;
    border-radius: 50px;
    background: #CBCBCB;
    justify-content: center;
    margin-top: 19px;
    margin-left: 17px;
    bottom: 0%;
}



.botão2 p{
    font-size: 17px;
    font-weight: 400;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #FFFFFF;
    padding-left: 9px;
    margin: 0 auto;
    
}


.botão3{
    width: 360px;
    height: 53px;
    border-radius: 50px;
    background: #32B72F;
    justify-content: center;
    margin-top: 19px;
    margin-left: 17px;
    bottom: 0%;
}



.botão3 p{
    font-size: 17px;
    font-weight: 400;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #FFFFFF;
    padding-left: 9px;
    margin: 0 auto;
}

.info .check{
    width: 14px;
    height: 14px;
    padding: 0%;
    padding-left: 120px;
    display: none;
}

.ionicon-check {
    color: #32B72F;
}

.icone-ionicon {
    font-size: 20px;       
    color: transparent;
} 

.ionicon-check {
    color: #32B72F;
}

.bottom-info-p {
    height: 20px;
    display: flex;
    justify-content: space-between;
}

.bottom-info-p {
    height: 20px;
    display: flex;
    justify-content: space-between;
}

.barra-base {
    width: 100%;
    height: 92px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    position: fixed;
    bottom: 0;
    right: 0;
}

.botao-3itens, .fecharPedido {
    width: 364px;
    height: 61px;
    font-size: 20px;
    font-family: roboto;
    color: #ffffff;
    border-radius: 50px;
    background-color: #cbcbcb;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
} 

.container-opaco {
    width: 100%;
    height: 100%;
    background-color: #ffffff90;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;        
    display: flex;
    justify-content: center;
    align-items: center;
}

.confirmacao-pedido {
    width: 95%;
    height: 353px;
    padding: 20px 20px 0 20px;        
    border-radius: 9px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #50D074;
    z-index: 2;
}

.confirmacao-pedido > h1 {
    font-size: 22px;
    font-family: roboto;
    font-weight: 700;
    color: #ffffff;
    text-align: center;
}

.box-comida, .box-bebida, .box-sobremesa, .box-total {
    font-size: 22px;
    font-family: roboto;
    font-weight: 400;
    color: #ffffff;
    display: flex;
    justify-content: space-between;
}

.box-total {
    font-weight: 700;
}

.botao-tucoCerto, .botao-cancela {
    width: 98%;
    height: 52px;
    font-size: 22px;
    font-family: roboto;
    font-weight: 700;
    color: #50D074;
    background-color: #ffffff;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.botao-confirmaCancela {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.botao-cancela {
    font-size: 20px;
    font-family: roboto;
    font-weight: 700;
    color: #ffffff;
    background-color: #50D074;
}


.box-comida, .box-bebida, .box-sobremesa, .box-total {
    font-size: 22px;
    font-family: roboto;
    font-weight: 400;
    color: #ffffff;
    display: flex;
    justify-content: space-between;
}

.bordaCheck {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), inset 0px 0px 0px 5px #32B72F;
}

.ionicon-check {
    color: #32B72F;
}

.botao-3itens .fecharPedido {        
    width: 364px;
    height: 61px;
    font-size: 20px;
    font-family: roboto;
    color: #ffffff;
    border-radius: 50px;
    background-color: #cbcbcb;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.escondido {
    display: none;
}




